/* Reset */
html, body { height: 100%; margin: 0; padding: 0; }

/* layout */
.container { display: table; }
.content { display: table-row; height: 100%; }
.content-body { display: table-cell; }


.container { width: 80%; height: 100%; margin-left:10%; margin-right:10%; }

a{
  text-decoration : none;
  color : #ededed;
}
p{
  color : #ededed;
  font-size : .75em;
  text-align : right;
  bottom : 0;
  padding-right : 15px;
}
#header{
  background-color : #00B2EE;
  padding-top : 5px;
  padding-bottom : .5px;
}
#header h3{
  text-align : center;
  padding-left : 20px;
  font-size : 3.5em;
  color : #ededed;
}
#body{
  padding-top : 10px;
  padding-bottom : 20px;
  background-color: #ededed;
}
#formwrap{
  margin-left : auto;
  margin-right : auto;
}
form{
  text-align :center;
  font-size : 1.5em;
  font-weight :bold;
  color : #00B2EE;
}								
#search{
  width : 20%;
}
#submitbutton{
    /* position:relative; */
    box-shadow: 0 3px 0 0 #000040;
    height:30px;
    width:100px;
    background: #00B2EE;
	color: #ededed;
	outline: none;
	display: inlineblock;
	font-size: .75em;
    font-weight: bold;
	/*line-height: 40px;*/
    border:none;
    border-radius:5px;
}
#weatherData{
  margin-top : 20px;
}
#mainWeather{
border : none;
margin-left : auto;
margin-right : auto;
width : 50%;
text-align : center;
}
#mainWeather td{
border: none;
}
table{
  display : none;
  border : 1px solid black;
  margin-left : auto;
  margin-right : auto;
  width : 50%
}
#supweather{
padding-top:20px;
}
td, th {
  border : solid 1px black;
  text-align : center;
}
.main{
 font-size : 1.5em;
 font-weight : bold;
 color : #00B2EE;
 text-align : center;
 }
 
#footer{
  background-color : #00B2EE;
  padding-top : 30px;
  padding-bottom : 30px;
}
