/* Reset */
html, body { 
height: 100%; 
margin: 0; 
padding: 0; 
}

/* layout */
.container { 
display: table; 
}
.content { 
display: table-row; 
height: 100%; 
}
.content-body { 
display: table-cell; 
}
.container { 
width: 80%; 
height: 100%; 
margin-left:10%; 
margin-right:10%; 
}
/*Styling*/

/*Header*/
#header{
  background-color : #00B2EE;
  padding-top : 5px;
  padding-bottom : .5px;
}
#header h3{
  text-align : center;
  padding-left : 20px;
  font-size : 3.5em;
  color : #fff;
}
/*Body of the page*/
a{
  text-decoration : none;
  color : #ededed;
}
#body{
  padding-top : 10px;
  padding-bottom : 20px;
  background-color: #ededed;
}
.main{
 font-size : 1.5em;
 font-weight : bold;
 color : #00B2EE;
 text-align : center;
 }
/*Form*/
#formwrap{
  margin-left : auto;
  margin-right : auto;
}
form{
  text-align :center;
  font-size : 1.5em;
  font-weight :bold;
  color : #00B2EE;
}								
#search{
  width : 20%;
}
#submitbutton{
    height:30px;
    width:100px;
    background: #00B2EE;
    color: #fff;
    outline: none;
    display: inlineblock;
    font-size: .75em;
    font-weight: bold;
    border:none;
    border-radius:5px;
}
/*Error Messages*/
#lessThanFive{
  display : none;
  color : #00B2EE;
  text-align : center;
}
#greaterThanFive{
  display : none;
  color : #00B2EE;
  text-align : center;
}
/*Weather Tables*/
#weatherData{
  margin-top : 20px;
}
#mainWeather td{
border: none;
}
table{
  display : none;
  margin-left : auto;
  margin-right : auto;
  width : 50%
}
#mainWeather{
border : none;
margin-left : auto;
margin-right : auto;
width : 50%;
text-align : center;
background-color : #ededed;
padding-top : 70px;
}
#supWeather{
margin-top:20px;
padding-top : 20px;
background-color : #00B2EE;
}
#supWeather td:nth-child(odd){
background: #f4f7f8;
}
#supWeather td:nth-child(even){
background: #e8eeef;
}
td, th {
  text-align : center;
}

#footer{
  background-color : #00B2EE;
  padding-top : 30px;
  padding-bottom : 30px;
}
#footer p{
  color : #ededed;
  font-size : .75em;
  text-align : right;
  bottom : 0;
  padding-right : 15px;
}
