/* Reset */
html, body { 
height: 100%; 
margin: 0; 
padding: 0; 
}

/* layout */
.container { 
display: table; 
}
.content { 
display: table-row; 
height: 100%; 
}
.content-body { 
display: table-cell; 
}
.container { 
width: 80%; 
height: 100%; 
margin-left:10%; 
margin-right:10%; 
}
/*Styling*/

/*Header*/
#header{
  background-color : #00B2EE;
  padding-top : 5px;
  padding-bottom : .5px;
}
#header h3{
  text-align : center;
  padding-left : 20px;
  font-size : 3.5em;
  color : #fff;
  font-family : Lobster;
}
/*Body of the page*/
#body{
  padding-top : 10px;
  padding-bottom : 20px;
  background-color: #ededed;
}
.main{
 font-size : 1.5em;
 font-weight : bold;
 color : #00B2EE;
 text-align : center;
 font-family : Merriweather;
 }
/*Form*/
#formwrap{
  margin-left : auto;
  margin-right : auto;
}
form{
  text-align :center;
  font-size : 1.5em;
  font-weight :bold;
  color : #00B2EE;
  font-family : Merriweather;
}								
#search{
  width : 20%;
}
#submitbutton{
    cursor : pointer;
    height:30px;
    background: #00B2EE;
    width : 100px;
    color: #fff;
    outline: none;
    display: inlineblock;
    font-size: .75em;
    font-weight: bold;
    border:none;
    border-radius:5px;
    font-family : Merriweather;
}
#currentCondition{
    display : none;
    width : 250px;
    cursor : pointer;
    margin-left : auto;
    margin-right : auto;
    margin-top : 20px;
    font-size : .75em;
    height:30px;
    background: #00B2EE;
    color: #fff;
    outline: none;
    border : none;
    border-radius:5px;
    font-family : Merriweather;
}
/*Error Messages*/
#lessThanFive{
  display : none;
  color : #00B2EE;
  text-align : center;
  font-family : Merriweather;
}
#greaterThanFive{
  display : none;
  color : #00B2EE;
  text-align : center;
  font-family : Merriweather;
}
/*Weather Tables*/
#weatherData, #forecastData{
  margin-top : 20px;
}
#mainWeather td{
border: none;
}
#mainWeather, #supWeather, #fiveDay, #forecastData, #currentForecast{
  display : none;
  margin-left : auto;
  margin-right : auto;
  width : 50%
  font-family : Merriweather;
}
#mainWeather{
border : none;
margin-left : auto;
margin-right : auto;
text-align : center;
font-family : Merriweather;
background-color : #ededed;
padding-top : 40px;
}
#supWeather, #fiveDay, #currentForecast{
margin-top:20px;
padding-top : 25px;
background-color : #00B2EE;
width : 50%;

}
#supWeather td:nth-child(odd), #currentForecast td:nth-child(odd){
background: #f4f7f8;
}
#supWeather td:nth-child(even), #currentForecast td:nth-child(even){
background: #e8eeef;
}
#fiveDay{
  margin-bottom: 60px;
}
.even{
background-color : #e8eeef;
}
.odd{
background-color : #f4f7f8;
}
td, th {
  text-align : center;
  font-family : Merriweather;
}
button{
display : block;
}
#forecast{
    width : 170px;
}
#todayForecast{
    width : 200px;
}
#forecast, #todayForecast{
    display : none;
    cursor : pointer;
    margin-left : auto;
    margin-right : auto;
    margin-top : 20px;
    height:30px;
    background: #00B2EE;
    color: #fff;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    border:none;
    border-radius:5px;
    font-family : Merriweather;
}
/*footer*/
#footer{
  background-color : #00B2EE;
  padding-top : 30px;
  padding-bottom : 30px;
}
#footer p{
  color : #fff;
  font-size : .6em;
  text-align : right;
  bottom : 0;
  padding-right : 15px;
  font-family : Merriweather;
}
a{
  text-decoration : none;
  color : #fff;
}
